#course_plan
    background-image url(../img/lacy_bg.jpg)
    background-repeat no-repeat
    background-position center
    background-size: cover;
    background-attachment: fixed;
    padding: 92px 0