<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="Домашнее задание 1 от Жанны Абрамовой «»")
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.png")
		title Домашнее задание 1 от Жанны Абрамовой «»
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/styles.css")
	body#home_task
		#main_screen
			include pug/header
			#first_screen_section
				.container
					p#pre 1 домашнее задание от Жанны Абрамовой
					h1 Загаловок задания
					.row
						.col-md-6.col-sm-6.col-sx-12
								.video_wrapper
									iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=1", allowfullscreen)
						.col-md-6.col-sm-6.col-sx-12
							.aut_n_date
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus rerum excepturi temporibus voluptate provident ab itaque qui sed est, vitae nam aut quaerat voluptas quo hic recusandae ipsum quasi molestiae.
			include pug/hw_feedback
		include pug/aux_footer
		include pug/no_script
		<!--BEGIN JIVOSITE CODE-->
		script
			| (function() {var widget_id = 'cMdj5UfoZX';var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//code.jivosite.com/script/widget/' + widget_id;var ss = document.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s, ss);})();
		<!--END JIVOSITE CODE-->