#first_screen_section
	.container
		p#pre Бонус от Жанны Абрамовой
		h1 Законы счастья
		.row
			.col-md-6.col-sm-6.col-sx-12
					.video_wrapper
						iframe(src="https://www.youtube.com/embed/YHKMkqCCOv4?rel=0&autoplay=1", allowfullscreen)
			.col-md-6.col-sm-6.col-sx-12
				.aut_n_date
					p Познай законы жизни и больше никогда не придётся быть несчастным. И это так. Если мы послушные исполнители жизненных задач, нас вознаграждают. Чем? Так вот желаемыми мирскими ресурсами - счастьем, любовью, деньгами, возможностями... 
					p Вы замечали, что одним людям прямо течёт все в руки, а другие то и дело спотыкаются о препятствия. И в чем дело, разобраться не под силу самому
					p Так вот, смотрите, одни люди наряду с их семейной системой, подчиняются законам жизни, а другие идут наперекор. Я сейчас не говорю о моральных принципах и добрых поступках, я говорю о тех законах, от которых зависит наша судьба и судьба наших потомков. Что это за законы? Давайте разбираться в бонусном видео