#first_screen_section
	.container
		p#pre Бесплатный 5-ти дневный интенсив
		h1 Метафорические Ассоциативные Карты – ключ к неизведанному
		.aut_n_date
			p Автор: 
				span Жанна Абрамова
			p Даты: 
				span 12-16 марта, 19:00 мск
		.video_wrapper
			iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=1", allowfullscreen)
		img#janna_main(src="img/janna_main.png", alt="Жанна Абрамова")