mixin day(src,alt,h4,...items)
    .day_wrapper
        .container
            .day_container
                .day_number
                    img(src= src, alt= alt)
                .day_decription
                    h4= h4
                    ul.bullits
                        each item in items
                            li= item
section#plan
    .red_wrapper
        h3 Программа интенсива
    #days_wrapper
        +day('img/day_1.png','День 1','Ваш путеводитель по неизведанному','Как же, порой, хочется залезть не только другому, но и  себе в голову и найти ответы на массу возникающих вопросов','Как поступить? Что выбрать? Почему со мной это происходит? Как выпутаться из проблемы? Почему он/она со мной так поступает? Когда, наконец, эта надоевшая ситуация меня отпустит и т.д.','«Телепат» - я называю методику МАК, через которую мы добираемся до сути любого вопроса','Что такое МАК? Какие возможности можно получить через работу с картами? Как вопросы нужно задавать, чтобы получить максимально точные ответы')
        +day('img/day_2.png','День 2','Управление реальностью','Жизнь без препятствий. Как разложить карты, чтобы устранить барьеры на своем пути','Как получать желаемое по запросу. Вот загадал(а) событие, а оно раз и исполнилось как по – волшебству','Как открыть поток изобилия и получить доступ к необходимым благам и ресурсам','Чтобы узнать о работе с подсознанием -познакомьтесь с методикой дня «Magic»')
        +day('img/day_3.png','День 3','Карма или благословение?','Если бы человеку было опасно то, что с ним происходит – с ним бы, по всей вероятности, этого не происходило бы','Так зачем нам нужны проблемы, безденежье, одиночество, отсутствие благ и ресурсов?','А может нас от чего-то жизнь защищает? Только вот от чего? Давайте разбираться в третьем дне нашего интенсива','Давайте начнем говорить о глубоких вещах простым понятным языком. Ведь как только мы поймем почему и зачем с нами что-то происходит – нам сразу же станет понятно что с этим делать. Итак методика МАК «Карма или благословение»')
        +day('img/day_4.png','День 4','Монетизация. Инфляция. Деноминация','Вот сколько еще придётся выдумывать слов, чтобы оправдывать кризис в стране, кризис в кошельке и кризис в голове','Почему кого-то никакой кризис не берет, а на ком-то все кризисы отыгрываются','Если представить себя на месте денег, как по -вашему захотели бы они с вами жить и дружить. Комфортно им было бы у вас в кошельке или на банковском счету','Деньги -  они как люди. Если когда-то им сделали плохо, они могут надолго обидеться и не захотеть вступать в отношения заново', 'Кто обидел? Когда? За что? Вот при помощи МАК нам предстоит это выяснить и вернуть деньги обратно в дом. Техника «Денежный Клондайк» нам в помощь')
        +day('img/day_5.png','День 5','Суженый мой, ряженый','Фух, с чего бы начать «раскопки»? А начнем мы их, пожалуй, с разбора судьбоносных встреч. Зачем нам нужны были те или иные встречи. Какой урок было необходимо извлечь из не сложившихся отношений. Как не наступать на одни и те же грабли и что изменить, чтобы старые грабли не ударили по лбу в неподходящий момент','А теперь вопрос: а где же он? Ну тот, что единственный, неповторимый и любимый. Где-то же он должен обитать? Только вот где и как мне туда добраться','Как только при помощи МАК мы разберемся с задачами судьбы, прохождением жизненных уроков и восстановлением мужско-женского баланса, сразу же появится ОН')
    .red_wrapper
        button.button(data-toggle="modal" data-target="#myModalForm") Записаться