mixin reason(num,p1,p2)
    .reason.col-md-4.col-sm-6.col-sx-12
        .reason_wrapper
            .reason_container
                h4= num
                .icon
                p= p1
                img.divider_middle(src="img/divider_middle.jpg", alt="Разделитель")
                p= p2
section#reasons
    .container
        h3 10 причин прийти на интенсив
        .row
            #reasons_block
                +reason('01','Надоела вечная беготня по кругу. Стараешься, пыжишься, а все как будто топчешься  на одном  месте','МАК помогут найти выход из любой сложившейся ситуации, главное, понять зачем вами был найдет туда вход. Техника «Замки и двери» обязательно подскажет как выбраться из безысходности')
                +reason('02','Это чем таким надо заниматься, чтобы научиться зарабатывать столько денег, чтобы больше никогда не залезать в долги и кредиты','МАК расскажут что для вас и вашей родовой системы значат деньги. Какой опыт нужно извлечь из безденежья и как договориться с деньгами, чтобы они начали приходить, а не «сбегать» при каждом удобном случае')
                +reason('03','Неужели нельзя построить отношения, не проходя весь этот горький опыт разочарований и обид','О! Моя любимая тема. Отношения под решение родовых задач и по судьбе. Опыт будем походить до тех пор, пока не разберемся какую же все таки службу мы должны сослужить роду. МАК как ничто другое расскажет какой человек под какую задачу приходил и какой урок нужно было из этого извлечь')
                +reason('04','Почему одним людям достается все быстро и без особых усилий, а мне надо либо заслужить блага, либо после отработать сполна. Неужели нельзя просто получать, не оставаясь при этом либо должной, либо виноватой','Вот оно ключевое «заслуживать» и «расплачиваться». А на самом то деле что и перед кем мы заслуживаем и за что мы расплачиваемся. Интересно? МАК в помощь')
                +reason('05','Такое ощущение, что на меня возложен венец безбрачия или какое-то проклятье. Ну не могут же просто так женщины моего рода быть одинокими и несчастливыми','Работа с МАК научит техникам, через которые можно выявить ключевую травму рода, связанную с одиночеством. Когда нет возможности собрать клиентскую группу по системным расстановкам, а нужно провести исцеление рода, МАК отлично справится с задачей')
                +reason('06','Не получается родить ребенка. Даже не столько физиологически не получается, а что-то не клеится с личной жизнью, а рожать без мужа не хочется','МАК найдет причину отсутствия личной жизни и деток. Исцелит травму рода и собственной жизни')
                +reason('07','Выкидыши, бесплодие, болезни по-женски. От куда все это взялось, а, главное, что с этим делать? Если медицина бессильна, должен же быть какой-то другой выход','С помощью МАК возможно обнаружить и устранить скрытые причины мнимого бесплодия, зачать и родить здорового ребенка')
                +reason('08','Почему мой ребенок не слушается, как будто мы разговариваем на разных языках. Невозможно достучаться до его разума, как будто я со стенкой все время разговариваю. Как общаться, чтобы достичь взаимопонимания','МАК отлично помогают проработать отношения с детьми. Работая с картами, отлично видна на поверхности детско-родительская проблема. А так же с самими детьми нет лучше способа работы, как через МАК. Дети любят картинки и бессознательно выдают все тайны своего подсознания. Хотите все знать о своих детях? Это все МАК')
                +reason('09','То ли возраст, то ли погода, то ли время такое. Но ощущение, что куда-то уходит энергия, появляется апатия и даже депрессия. Нет желания что-то делать, куда-то двигаться. Опускаются руки и не знаю как с этим состоянием справляться','С помощью МАК можно увидеть тайное послание нашего подсознания. Ведь апатия и плохое самочувствие – это защитная реакция организма. От чего мы защищаемся и как выстроить альтернативную защиту, при этом пребывая в полном здравии – тоже расскажут МАК')
                .col-md-4.col-sm-6.col-sx-12
                +reason('10','Известно, что многие болезни имеют соматическое объяснение. Ну раз от расстройств нервной системы они появились, то как теперь выровнять свое душевное состояние, чтобы болезни отступили','Через МАК вы сможете поговорить и договориться со своими болезнями. Спросить что их рядом с вами удерживает. Найти им другой «домик» или научиться с ними уживаться без нужды испытывать боль и страдание. А также через МАК можно активировать и усилить свою интуицию,   научиться читать знаки и через связь со своим подсознанием быстро и эффективно получать ответы на любые вопросы')
                .col-md-4.col-sm-6.col-sx-12
        button.button(data-toggle="modal" data-target="#myModalForm") Записаться