mixin tt(src, h4, p)
    .testim_wrapper
        .testim_container
            img(src= src, alt= h4)
            h4= h4
            p= p
section#testimonials
    .container
        h3 Отзывы учеников
        #video_testims
            .col-md-6.col-sm-6.col-sx-12
                .video_wrapper
                    img(src="img/testimonial_1.jpg", alt="Видео отзыв 1")
            .col-md-6.col-sm-6.col-sx-12
                .video_wrapper
                    img(src="img/testimonial_2.jpg", alt="Видео отзыв 2")
            .clearfix
        #text_testims
            +tt('img/photo_1.jpg','Анна Киценко','Хочу сказать спасибо Жанне за ее работу с нами, терпение, за интересные задания, за наше развитие, и наши изменения! Пройдя этот коротенький квест, я получила много новых открытий в себе, в своем поведении, многое поменялось в жизни, отношении к жизни и к людям. Сейчас, как только закрадываются сомнения, сразу вспоминаю тематические видео Жанны и меняю свои мысли и поведение в правильное русло. Сейчас мне стало проще знакомиться с людьми, общаться с ними и узнавать новое и интересное. Если раньше мне проще было отмолчаться, уединиться, то сейчас я сама вступаю в контакт, прошу номера телефонов, общаюсь в соц.сетях, заявляю о своих желаниях и не надеваю маску Poker Face')
        