#first_screen_section
	.container
		h1 Метафорические Ассоциативные Карты – ключ к неизведанному
		.aut_n_date
			p Автор: 
				span Жанна Абрамова
			p Даты: 
				span 12-16 марта, 19:00 мск
		a.button(href="#pay_table") Участвовать