section#course_plan
	.container
		h3 План курса
		section#course_plan
	.container
		h3 План 
			span курса
		#plan_tabs
			ul.base_links
				li
					a(href="#silver_tabs") Серебро
				li
					a(href="#gold_tabs") Золото
				li
					a(href="#platinum_tabs") Платина
			.wrapper_main#silver_tabs
				h4 Пакет СЕРЕБРО - 9 занятий
					small Убираем помехи на пути желаний
				ul.lessons_links
					li
						a(href="#silver_tab-1") Урок 1
					li
						a(href="#silver_tab-2") Урок 2
					li
						a(href="#silver_tab-3") Урок 3
					li
						a(href="#silver_tab-4") Урок 4
					li
						a(href="#silver_tab-5") Урок 5
					li
						a(href="#silver_tab-6") Урок 6
					li
						a(href="#silver_tab-7") Урок 7
					li
						a(href="#silver_tab-8") Урок 8
					li
						a(href="#silver_tab-9") Урок 9
					li
						a(href="#silver_tab-10") Бонус
				.clearfix
				#silver_tab-1
					h5 Урок 1. Магия исполнения желаний. Магическое улучшение всех жизненных аспектов
					ol.lessons
						li
							span Почему мы живем не так как хочется
						li
							span От чего зависят наши стартовые позиции
						li
							span Как понять свое желание?
						li
							span Как правильно загадывать желание
						li
							span Специальное упражнение для определения желаемого
						li
							span Загадываем желание
						li
							span 3 кита желаний (деньги, здоровье, отношения)
						li
							span Успокаиваем инстинкт самосохранения
				#silver_tab-2
					h5 Урок 2. Что мешает исполнению желаний
					ol.lessons
						li
							span Мышление,которое не приводит к исполнению желаний
						li
							span Ритуал  очистки мозга
						li
							span Почему негативные желания исполняются быстрее чем позитивные.Как люди заключают контракт с темными силами
						li
							span Наши внутренние враги и избавление от них:
							ul
								li
									span страх
								li
									span обида
								li
									span низкая самооценка
								li
									span лень
								li
									span гнев
								li
									span Ритуал избавления от страха
								li
									span Ритуал для поднятия самооценки
								li
									span Ритуал избавления от обиды
								li
									span Ритуал избавления от лени
								li
									span Варианты формирования судеб
				#silver_tab-3
					h5 Урок 3. Ложные модели поведения, мешающие исполнению желаний
					ol.lessons
						li
							span Родительские модели поведения
						li
							span Непринятие ответственности
						li
							span Ритуал “Я - хозяин жизни”
						li
							span Недоверие
						li
							span Ритуал "Рука Бога" для получения правдивого ответа
						li
							span У меня все плохо - дай мне что-нибудь
						li
							span Ритуал счастливой судьбы
						li
							span Хочу все и сразу
						li
							span Мне все должны
						li
							span Алгоритм получения внутренней свободы
				#silver_tab-4
					h5 Урок 4. Продолжаем избавляться от того, что мешает исполнению желаний
					ol.lessons
						li
							span Как негативный опыт мешает исполнению желаний
						li
							span Ритуал стирания негативного опыта
						li
							span Обитатели тонкого мира,которые мешают исполнению желаний
						li
							span Ритуал для избавления от влияния деструктивных сущностей
						li
							span Как внутренний конфликт мешает исполнению желаний
						li
							span Медитация для обретения магического равновесия
				#silver_tab-5
					h5 Урок 5. Магические атаки - помехи в исполнении желаний
					ol.lessons
						li
							span Что такое магические атаки
						li
							span Зависть
						li
							span Сглаз
						li
							span Порча
						li
							span Программирование
						li
							span Проклятие
				#silver_tab-6
					h5 Урок 6. Как конфликты влияют на исполнение желаний
					ol.lessons
						li
							span Почему Вселенная иногда не исполняет желания
						li
							span Позиция наблюдателя
						li
							span Техника “Писатель” ( отлично подойдет тем, кто только начинает заниматься магией или у кого проблемы с визуализацией)
						li
							span Техника “4 стороны” очень легкая в исполнении и поможет очень быстро прекратить конфликт
						li
							span Медитация для того, чтобы посмотреть на себя со стороны
						li
							span Ритуал "Я" поможет вам моментально успокоить конфликт
						li
							span Медитация для устранения внутренних конфликтов
				#silver_tab-7
					h5 Урок 7. Различные техники исполнения желаний
					ol.lessons
						li
							span Секретный метод исполнения желаний, которым пользуются политики и люди при власти
						li
							span Ритуал создания фантома 
						li
							span Исполняем желания во сне
						li
							span Подключение к эгрегору успеха и привлечение удачи
						li
							span Секретные кодовые слова для исполнения желаний
						li
							span Специальные техники для развития визуализации
				#silver_tab-8
					h5 Урок 8. Получение помощи тонкого мира для исполнения желания
					ol.lessons
						li
							span Энергетическая схема желаний
						li
							span Помощь рода в исполнении желаний
						li
							span Вызываем сущностей
						li
							span Ритуал контакта с нужной для исполнения вашего желания сущностью
						li
							span Как договориться с сущностями чтобы помогали или наоборот,не мешали
						li
							span Контакт с духами для исполнения желаний
						li
							span Специальные посты для общения с духами
				#silver_tab-9
					h5 Урок 9. Накачиваем энергетику желания
					ol.lessons
						li
							span Куда уходит наша энергия
						li
							span Исполнение желания с помощью молитвы
						li
							span Несоблюдение правил игры - мощный источник утечки энергии
						li
							span Если силу желания украли. Ритуал “Крадник”
						li
							span Ритуал получения светлой энергии рода для исполнения желаний.
						li
							span Как использовать энергию желания других людей для исполнения своего желания
						li
							span Что такое препятствия
						li
							span Ритуал получения силы препятствий
				#silver_tab-10
					h5 Основные понятия магии
			.wrapper_main#gold_tabs
				h4 Пакет ЗОЛОТО - 16 занятий
					small Исполнение желаний на счастье и здоровье
				ul.lessons_links
					li
						a(href="#gold_tabs-1") Урок 10
					li
						a(href="#gold_tabs-2") Урок 11
					li
						a(href="#gold_tabs-3") Урок 12
					li
						a(href="#gold_tabs-4") Урок 13
					li
						a(href="#gold_tabs-5") Урок 14
					li
						a(href="#gold_tabs-6") Урок 15
					li
						a(href="#gold_tabs-7") Урок 16
					li
						a(href="#gold_tabs-8") Бонусы
				.clearfix
				#gold_tabs-1
					h5 Урок 10. Магия исполнения желаний в семье и личной жизни
					ol.lessons
						li
							span Почему не исполняется желание выйти замуж
						li
							span Как познакомиться с достойным мужчиной
						li
							span С какими мужчинами надо знакомиться, чтобы удачно выйти замуж
						li
							span Почему мужчины не делают вам предложение
						li
							span Как удачно выйти замуж при низких стартовых условиях
						li
							span Ритуал, чтобы познакомиться с мужчиной в чем-то намного лучше вас
						li
							span Как удачно выйти замуж после 40
						li
							span Ритуал защиты от альфонсов
						li
							span Как удачно выйти замуж с детьми
						li
							span Медитация для скорого замужества
				#gold_tabs-2
					h5 Урок 11. Магия исполнения желаний в семье и личной жизни
					ol.lessons
						li
							span Как выйти замуж и жить в браке долго и счастливо
						li
							span Как удачно выйти замуж за иностранца
						li
							span О чем нужно спросить иностранного жениха во время переписки?
						li
							span Ритуал для успешного брака с иностранцем
						li
							span Как сделать так чтобы муж вас ценил
						li
							span Ритуал возвращения ответственности
						li
							span Как заставить мужа приносить домой мамонта
						li
							span Ритуал, чтобы муж больше зарабатывал
						li
							span Основные причины конфликтов в семье и их магическое решение
						li
							span Ритуал моментального прекращения конфликта в семье
				#gold_tabs-3
					h5 Урок 12. Магия исполнения желаний в семье и личной жизни. Золотая коллекция заговоров и ритуалов для исполнения желаний в семье и личной жизни
					ol.lessons
						li
							span Открытие волшебного магнита
						li
							span Как предотвратить измены
						li
							span Как сделать так, чтобы мужчина дарил вам подарки
						li
							span Как забрать денежную удачу у соперницы
						li
							span Как снять лицо с молодой соперницы
						li
							span Как сделать так, чтобы соперница растолстела
						li
							span Как наладить отношения между детьми и отчимом (мачехой)
						li
							span Как защитить свою семью от магических воздействий
						li
							span Как прекратить длительный конфликт и наладить отношения с родственниками вашей половины
						li
							span Как защитить членов семьи от нехороших друзей
						li
							span Если взрослый ребенок пустился во все тяжкие
						li
							span Создание стратегии для исполнения желаний в личной жизни
				#gold_tabs-4
					h5 Урок 13. Магия исполнения желаний в аспекте внешности и здоровья
					ol.lessons
						li
							span Что такое здоровье с точки зрения магии
						li
							span Почему человек болеет?
						li
							span Диагностика  и разблокировка чакр
						li
							span Как смещение полей влияет на здоровье
						li
							span Деформация биополя - причина постоянных болей
						li
							span Ритуал гармонизации биополя и избавления от болей
						li
							span Ритуал создания личного универсального лекарства
						li
							span Создание личной стратегии исцеления и нормализации здоровья
				#gold_tabs-5
					h5 Урок 14. Магия исполнения желаний в аспекте внешности и здоровья. Как избавиться от лишнего веса
					ol.lessons
						li
							span Откуда возникает лишний вес?
						li
							span Альтернативные источники энергии для организма
						li
							span Как напитаться энергией счастья?
						li
							span Ритуал для запуска работы сущности стройности
						li
							span Ваши продукты радости и стройности
						li
							span Эмоциональная, ментальная и физическая составляющая лишнего веса
						li
							span 7 причин набора веса
						li
							span Уникальная медитация на нормализацию веса
						li
							span Заговор от неестественной худобы
				#gold_tabs-6
					h5 Урок 15. Магия исполнения желаний в аспекте внешности и здоровья
					ol.lessons
						li
							span Что такое вредные привычки
						li
							span Как создается любая вредная привычка
						li
							span Вредные привычки, навязанные эгрегором
						li
							span Вы и окружение: формула прогноза образования вредных привычек
						li
							span Магические причины вредных привычек
						li
							span Алгоритм определения вредных привычек, мешающих исполнению желания
						li
							span Ритуалы и заговоры от пьянства
				#gold_tabs-7
					h5 Урок 16. Магия исполнения желаний в аспекте внешности и здоровья. Золотая коллекция заговоров и ритуалов для избавления от вредных привычек и создания полезных
					ol.lessons
						li
							span Ритуалы и заговоры от курения
						li
							span Ритуалы и заговоры от компьютерной зависимости
						li
							span Ритуалы и заговоры от игромании
						li
							span Ритуалы и заговоры от наркомании
						li
							span Ритуалы и заговоры от шопоголизма
						li
							span Кодирование от вредной привычки
						li
							span Личная стратегия исполнения желаний в аспекте внешности и здоровья и избавления от вредных привычек
						li
							span Личная стратегия в приобретении нужных для исполнения желаний привычек
				#gold_tabs-8
					h5 Основные понятия магии
					h5 Определение и развитие каналов восприятия
			.wrapper_main#platinum_tabs
				h4 Пакет ПЛАТИНА - 23 занятия
					small Исполнение желаний на деньги
				ul.lessons_links
					li
						a(href="#platinum_tabs-1") Урок 17
					li
						a(href="#platinum_tabs-2") Урок 18
					li
						a(href="#platinum_tabs-3") Урок 19
					li
						a(href="#platinum_tabs-4") Урок 20
					li
						a(href="#platinum_tabs-5") Урок 21
					li
						a(href="#platinum_tabs-6") Урок 22
					li
						a(href="#platinum_tabs-7") Урок 23
					li
						a(href="#platinum_tabs-8") Бонусы
				.clearfix
				#platinum_tabs-1
					h5 Урок 17. Магия исполнения финансовых желаний
					ol.lessons
						li
							span Что такое денежный эгрегор
						li
							span Как вы превращаетесь в рабов денежного эгрегора
						li
							span От чего зависит ваше благосостояние
						li
							span Сколько вам реально надо денег?
						li
							span Почему вам выгодно быть бедным
						li
							span Привычки,которые не дают увеличить денежный поток
						li
							span Ритуал "Я - богатый человек" для увеличения финансового потока.
						li
							span Как внутренние убеждения влияют на ваш финансовый поток
						li
							span Ритуал избавления от негативных финансовых убеждений
				#platinum_tabs-2
					h5 Урок 18. Магия исполнения финансовых желаний. Долги и должники
					ol.lessons
						li
							span Почему в нашей жизни появляются долги и должники
						li
							span Какая финансовая стратегия приводит к образованию долгов
						li
							span Классификация возвратных и невозвратных долгов
						li
							span Магические причины невозврата долга
						li
							span Создание индивидуальной стратегии для возврата долгов и жизни без долгов
						li
							span Золотая коллекция ритуалов на возврат возвратных и невозвратных долгов
						li
							span Ритуал чтобы за маленький долг получить большие проценты
				#platinum_tabs-3
					h5 Урок 19. Магия исполнения финансовых желаний. Секретные техники для быстрого увеличения финансового потока
					ol.lessons
						li
							span Что такое мышление миллионера
						li
							span Перепрограммирование вашего мышления на увеличение денежного потока
						li
							span Знакомство с сущностью богатства
						li
							span Контакт с духами для быстрого увеличения благосостояния и выхода из кризиса
						li
							span Помощь с того света в решении материальных проблем
						li
							span Подключение к чужим финансовым потокам для быстрого решения материальных проблем
						li
							span Сброс своей бедности на врага (если какой-то человек является причиной вашей бедности)
						li
							span Как восстановить справедливость, если украли силу вашего финансового желания?
						li
							span Алгоритм, который автоматически приведет вас к увеличению дохода
						li
							span Создание индивидуальной стратегии для возврата долгов и жизни без долгов
						li
							span Золотая коллекция ритуалов на возврат возвратных и невозвратных долгов
				#platinum_tabs-4
					h5 Урок 20.  Магия исполнения желаний в сфере недвижимости. Выявление причин - почему мы не можем продать или приобрести недвижимость, и избавление от них
					ol.lessons
						li
							span Почему высшие силы не дают вам недвижимость
						li
							span Внутренние причины того, что вы до сих пор не имеете своего жилья
						li
							span Воспитательные процессы ангела-хранителя в сфере недвижимости
						li
							span Почему в вашей жизни происходят обманы, суды и потери недвижимости, и как от этого избавиться
						li
							span Зарядка охранной иглы для защиты от негативных воздействий на недвижимость
						li
							span Защита недвижимости от воров
						li
							span Защитная папка - чтобы нечистоплотные риэлторы ничего не сделали с документами
						li
							span Как защититься от сущности бездомности
				#platinum_tabs-5
					h5 Урок 21. Магия исполнения желаний в сфере недвижимости. Устранение препятствий в продаже недвижимости
					ol.lessons
						li
							span Неотпускание - главная причина того, что недвижимость не продается
						li
							span Медитация внутреннего равновесия для продажи недвижимости
						li
							span Ритуал отпускания недвижимости
						li
							span Избавление от некротических привязок недвижимости
						li
							span Как избавиться от внешних воздействий, которые не дают продать недвижимость
						li
							span Как адекватно оценить недвижимость
						li
							span Привязка эгрегора агентства по недвижимости для быстрой продажи
						li
							span Специальный ритуал для того, чтобы ваша недвижимость казалась покупателю самой лучшей
						li
							span Привязка вашей недвижимости к покупателю
				#platinum_tabs-6
					h5 Урок 22. Секретные техники для приобретения и продажи недвижимости. Создание стратегии приобретения и продажи вашей недвижимости
					ol.lessons
						li
							span Волшебные слова для составления объявления и продажи недвижимости
						li
							span Ритуал "Успешная сделка" для быстрой продажи недвижимости
						li
							span Ритуалы с документами на недвижимость для быстрой продажи
						li
							span Магические секреты просмотра недвижимости
						li
							span Специальные ритуалы чтобы сделка купли-продажи прошла как по маслу
						li
							span Различные ритуалы для выгодной покупки недвижимости
						li
							span Защитные ритуалы для покупки и продажи недвижимости
							ul
								li
									span чтобы покупатель не сорвался
								li
									span ритуал, чтобы продавец не смог скрыть недостатки недвижимости
								li
									span ритуал "Морок", чтобы закрыть покупателю глаза на недостатки
								li
									span ритуал защиты сделки от мошенников
				#platinum_tabs-7
					h5 Урок 23. Секреты консультирования 
					ol.lessons
						li
							span Диагностика
						li
							span С какими проблемами надо работать?
						li
							span Сколько денег брать за свои услуги, и кого и когда можно консультировать бесплатно?
						li
							span Где взять клиентов?
						li
							span Как защищаться и не брать проблемы клиентов на себя
				#platinum_tabs-8
					h5 Основные понятия магии
					h5 Определение и развитие каналов восприятия
					h5 Настройка энергетических матриц
		a.button(href="#table_section") Участвовать