section#course_plan
	.container
		h3 План 
			span курса
		#plan_tabs
			ul.base_links
				li
					a(href="#silver_tabs") Серебро
				li
					a(href="#gold_tabs") Золото
				li
					a(href="#platinum_tabs") VIP
			.wrapper_main#silver_tabs
				.inner_tab_container
					h4 Пакет Серебро - 9 занятий + 3 занятия по воскресеньям «Ответы на вопросы»
						br 
						| (12 занятий)
					hr
					h5 Я и МАК. Решение насущных вопросов
					ul.lessons_links
						li
							a(href="#silver_tab-1") Урок 1
						li
							a(href="#silver_tab-2") Урок 2
						li
							a(href="#silver_tab-3") Урок 3
						li
							a(href="#silver_tab-4") Урок 4
						li
							a(href="#silver_tab-5") Урок 5
						li
							a(href="#silver_tab-6") Урок 6
						li
							a(href="#silver_tab-7") Урок 7
						li
							a(href="#silver_tab-8") Урок 8
						li
							a(href="#silver_tab-9") Урок 9
						li
							a(href="#silver_tab-10") VIP Бонус
					.clearfix
					#silver_tab-1
						h6 Система МАК
						ol.lessons
							li Что такое МАК — Метафорические Ассоциативные карты
							li Как работают МАК. Основные правила работы с  МАК
							li Почему именно работа с МАК (проводим аналогию с другими методами)
							li Не верь другому, верь себе - работа с нашим подсознанием
							li Почему подсознание через МАК никогда не врет? Учимся читать знаки судьбы
							li Кто мной управляет? Выявляем кармическую задачу.
							li Авторская медитация «Кармическая задача». Выявляем где и в чем лежит наша «обязанность» перед родом
					#silver_tab-2
						h6 МАК - разнообразие колод
						ol.lessons
							li Изучаем колоды, какая за что отвечает
							li Учимся делать расклады через транзактный анализ
							li Расклады на колодах ОН, Spectra, Emotions
							li Учимся правильно задавать вопросы
							li Учимся читать полученные ответы
							li Работа со своим подсознанием через МАК. Как видеть истинные ответы, а не интерпретировать полученную информацию.
							li Система «Судьбоносные знаки». Учимся складывать во едино каждый знак и каждое слово клиента
					#silver_tab-3
						h6 Я и моя семейная система
						ol.lessons
							li Функционирование семейных систем. Колода Emotions, ОН, Spectra
							li Основные законы по которым живут и развиваются семейные системы и род.
							li Расклад систем через МАК
							li Где и в чем мы нарушаем законы семейных систем. Расклад МАК нарушенных позиций
							li Чью судьбу мы проживаем?
							li Проработка детский ассоциаций, переносов, проекций. Persona, AlterEgo
							li Работа с детскими травмами – колода «Из сундука прошлого»
					#silver_tab-4
						h6 Мой жизненный путь. Цели, желания, достижения
						ol.lessons
							li Исследование с помощью МАК способа достижения или провала целей.
							li Что помогает мне двигаться вперед, а что стопорит? МАК –шаги. Колода «Окна-двери», «Steps»
							li Основные причины неудач
							li Препятствия на пути к достижению целей. Методика «Я-цель-препятствие»
							li Сценарий моего успеха. Что определяет мой успех?
							li По чьему сценарию мы получаем или теряем успех
							li Авторская медитация «Возврат утраченного успеха»
					#silver_tab-5
						h6 Судьбоносные партнеры и встречи
						ol.lessons
							li Изучение жизненных сценариев – колода «ОН», «Emotions»
							li Авторская методика определения типажей и сценариев человека
							li Отношения через задачи судьбы. Партнер под задачу, партнёр по судьбе
							li Проблемы в отношениях. Судьба или карма?
							li Кармические отношения, какова роль и задача при данных отношениях?
							li Что влияет на нашу судьбу?
							li Коррекция отношений при помощи колод «TanDoo», «Spectra», «Duet»
					#silver_tab-6
						h6 Страхи и фобии
						ol.lessons
							li Мои страхи. Методика МАК распознавания страхов. Колода «Ladia Jacob story», «Bosch»
							li Мои запреты, ограничения и убеждения.
							li Методика МАК «Внешний разрешитель или как преодолеть запреты»
							li Мораль, догмы, инструкции. Кому это нужно, чем чревато неисполнение?
							li Мои недостатки. Как направить «отрицательную энергию» в созидательное русло 
							li Методика работы с самоценностью и самопозиционированием
							li Авторская методика «Кто Я». Расклад колоды Steps
					#silver_tab-7
						h6 Я и Деньги
						ol.lessons
							li Деньги. Безденежье или изобилие? Какова лично твоя стратегия.
							li Почему деньги достаются сложно.
							li Что влияет на денежный поток?
							li Формирование нового денежного сценария. МАК – денежный расклад.
							li Авторская методика «Антинищета»
							li Бизнес. Возможно ли помочь росту бизнеса при помощи МАК?
							li Денежный баланс. Что блокирует принятие денежного потока
					#silver_tab-8
						h6 Я, родители, дети
						ol.lessons
							li Дети. Взаимоотношения родителей и детей
							li Как выявить детский сценарий и не переносить его на свое потомство
							li Как понять своего ребенка.
							li Разговор с детьми/родителями при помощи МАК
							li Как наладить детско-родительские отношения при помощи МАК. Колоды «Personita», «CatMotions», «AnimalCards», «1001», «Saga», «Morena», «Anibi»
							li Исцеление внутреннего ребенка через МАК
							li Упражнение на гармонизацию внутриличностных ролей
					#silver_tab-9
						h6 Я и здоровье 
						ol.lessons
							li Здоровье, генетика или перенесенные психологические травмы?
							li Зависимость здоровья от психологического состояния человека
							li Метафизика. Как выявить связь болезни с пережитым стрессом
							li О чем говорят болезни. «Читаем» анамнез болезней
							li Ключевые болезни. Разбор через МАК
							li Психологические и психофизические последствия травм
							li Техника «Перемирие». Примиряем болезнь с «хозяином»
					#silver_tab-10
						h6 Техника «Управление реальностью»
			.wrapper_main#gold_tabs
				.inner_tab_container
					h4 Пакет «Золото» - 9 основных занятий+ 3 занятия ответов на вопросы
						br 
						| ( 24 занятия)
					hr
					h5 Я, МАК, мое окружение и взаимоотношения
					ul.lessons_links
						li
							a(href="#gold_tabs-1") Урок 13
						li
							a(href="#gold_tabs-2") Урок 14
						li
							a(href="#gold_tabs-3") Урок 15
						li
							a(href="#gold_tabs-4") Урок 16
						li
							a(href="#gold_tabs-5") Урок 17
						li
							a(href="#gold_tabs-6") Урок 18
						li
							a(href="#gold_tabs-7") Урок 19
						li
							a(href="#gold_tabs-8") Урок 20
						li
							a(href="#gold_tabs-9") Урок 21
					.clearfix
					#gold_tabs-1
						h6 Расстановки через МАК
						ol.lessons
							li Учимся выявлять ключевой аспект, приведший к проблеме – колоды Oh, Spectra, Emotions
							li Изучаем метод МАК-расстановок
							li Наводим порядок в семейной системе путем МАК-расстановок
							li Партнерские отношения. Выстраиваем семейную иерархию
							li Выявляем на каком этапе находится брешь, приведшая к проблеме
							li Авторская техника экологичного МАК исцеления проблемы
					#gold_tabs-2
						h6 Любовь – создающая сила
						ol.lessons
							li Любовь как источник исцеления. Колода «Она», «Morena»
							li Симптом одиночества. Когда возник и какие вторичные выгоды несет в себе. Выявляем при помощи МАК вторичные выгоды одиночества Spectra, Oh, Emotions
							li Техника исцеления потерянного ресурса любви
							li Мужско-женские отношения. Выявление через МАК сценария и повторяющегося шаблона в отношениях. Исцеление проблемы в отношениях TanDoo
							li Созависимость в отношениях. Учимся исцелять созависимость
							li Авторская медитация «Сила рода»
					#gold_tabs-3
						h6 Семья – как награда за возврат в семейную систему утраченные ресурсы
						ol.lessons
							li Разбираем детально законы функционирование семейных систем.
							li Учимся выявлять дисбаланс систем через МАК
							li Расклад МАК нарушенных семейных позиций и восстановление родового дисбаланса
							li Техника интеграции полученных семейных ресурсов
							li Формирование желаемой судьбы при помощи МАК
							li МАК - генограмма. Делаем расклад функционирования семейной системой по законам рода
					#gold_tabs-4
						h6 Путь. А туда ли я иду?
						ol.lessons
							li Выявляем при помощи МАК свой путь и предназначение.
							li Архетипы и тотемы. Выбери себе помощника
							li Учимся устранять и справляться с препятствиями на пути к достижению целей. Методика «Проблема-задача-ресурс»
							li Сценарий моего успеха.
							li Пишем свой личный сценарий
							li Авторская медитация «Исцеление  ДНК успеха»
					#gold_tabs-5
						h6 Ссоры, конфликты, примирение
						ol.lessons
							li Изучаем причины ссор и конфликтов в паре
							li Техника нейтрализации причин конфликтов и как следствие устранение самих конфликтов
							li Конфликты в физиогномике. Изучаем жесты конфликтуещего
							li Изучаем поведенческий тип партнера. Учимся взаимодействию с партнёром через  встройку в его потребности, а так же встраиваем партнера в свои интересы- колоды «TanDoo», «Spectra», «Duet»
							li Авторская медитация «Завершение прошлых связей»
					#gold_tabs-6
						h6 Страхи и фобии. Исцеление
						ol.lessons
							li Учимся определять природу происхождения страхов и фобий
							li Учимся выявлять вторичную выгоду страхов
							li Фобии как защита от плохого. Выявляем от чего защищают фобии
							li Методика МАК- исцеление от страхов. Разотождествление себя со страхами - 5. Колода «Ladia Jacob story», «Bosch»
							li Страхи и фобии как перенесенные травмы или наследуемые родовые программы
							li Знакомимся с техникой «Перерождение»
					#gold_tabs-7
						h6 Деньги в голове
						ol.lessons
							li Деньги. Кто в паре блокирует денежный поток?
							li Изучаем через МАК  как генерится денежный поток в паре
							li Формирование денежного потока при помощи МАК
							li Техники МАК по управлению денежным потоком
							li Исцеление банкротств, сценария нищеты, неудач и неблагополучия
							li Авторская методика «Восстановление ДНК денег»
					#gold_tabs-8
						h6 Секс, запрет на сексуальность, одиночество 
						ol.lessons
							li 1. Секс как энергия. Энергетические аспекты сексуальности
							li 2. Запрет на сексуальность
							li 3. К чему приводит запрет на сексуальность. Соматические болезни, связанные с запретом на сексуальность
							li 4. Причины бесплодия. Снимаем запрет на рождение детей
							li 5. Физическое насилие как последствие запретов и блоков на сексуальность.
							li 6. Методика «Гармонизация близости»
					#gold_tabs-9
						h6 Метафизика  
						ol.lessons
							li Изучаем зависимость физики от психологических переживаний
							li Какая болезнь за что отвечает
							li Портрет «больного». Какие типажи какими болезнями страдают
							li Метафизика. Исцеляем при помощи МАК связь болезни с пережитым стрессом
							li Зачем нужны болезни? Изучаем болезни как энциклопедию ответов на вопросы
							li Психотипы болезней. Разбор и исцеление через МАК
							li Авторская медитация «Восстановление ДНК здоровья»
			.wrapper_main#platinum_tabs
				.inner_tab_container
					h4 Программа VIP
						br 
						| 14 занятий
					hr
					h5 Коучинг-группа по обучению моим персональным методикам
					ol.lessons
						li Методика Квантового скачка – быстрый переход из проблемы в ресурсное состояние (квантовый коридор)
						li Метод исцеления первичной клетки – проработка первопричины возникшей проблемы
						li Метод МАК расстановок – полевое исцеление кармы
						li Метод управления собственной реальностью при помощи МАК
						li Метод МАК работы с метафизикой. Исцеления ДНК здоровья
						li Метод “Антинищета”. Стратегии по исцелению гена нищеты
						li Метод «Путешествие по прошлым жизням»
		a.button(href="#table_section") Участвовать