section#you_reach
    .red_wrapper
        h3 Чему вы научитесь на курсе
            small (в рамках выбранного пакета)
    #about_silver
        .container
            img(src="img/silver_packet.png", alt="Пакет Серебро")#silver_packet
            ul.reach_list
                li Работать с колодами МАК «Персона» «Альтер Эго», «Эмоции», «Spectra», «ОН», TanDoo, Колода детских травм «Из сундучка прошлого»
                li Освоите методики работы с МАК, среди которых такие как: «Кармическая задача», «Судьбоносные знаки», «Детские травмы», «Возврат утраченного успеха», «Коррекция отношений», «Кто Я», «Денежный баланс», «Гармонизация внутриличностных ролей», «Перемирие с болезнью»  
                li Научитесь методу «Детектив» - правильно задавать вопросы и слышать суть и истину ответов от себя и клиентов
                li Разберетесь с причиной возникновения своих личных проблем и как выявлять первопричину проблем у клиентов
                li Прочувствуете любовь к себе и к миру
                li Увидите новые возможности и откроете свой потенциал  
                li Справитесь со страхами, фобиями, запретами, деструктивными убеждениями
                li Повысите самооценку и научитесь выстраивать крепкие личные границы
                li Станете осознаннее и увереннее
                li Научитесь правильно ставить цели, относительно своих интересов
                li Откроете собственные ресурсы для создания благополучия, счастья и здоровья
    #about_gold
        .container
            img#gold_packet(src="img/gold_packet.png", alt="Пакет Золото")
            .gold_packet_container
                ul.gold_reach_list
                    li Научитесь различать людей по типажам
                    li Узнаете как работать с каждым типажом максимально эффективно
                    li Научитесь расстановочному методу МАК (авторская методика)
                    li Научитесь работе с родом
                    li Научитесь по генограмме выявлять ключевые задачи рода и проблемы
                    li Научитесь находить причины неудач, проблем, препятствий и определять какой выход необходим для решения поставленных задач
                    li Разберетесь со своими личными отношениями, узнаете под какую задачу к вам приходили партнеры и как встретить судьбоносного мужчину
                    li Научитесь преодолевать разногласия с партнером и поймете причину конфликтов и ссор
                    li Выйдите на новый счастливый уровень отношений
                    li Поймете что значит любить партнера. Научитесь понимать когда вас любят, а когда нет, не привнося свои догадки.
                    li Завершите прошлые связи и заберете свои частички души, оставленные в предыдущих отношениях
                    li Научитесь восстанавливать денежную энергию и начнете монетизировать свои навыки и умения
                    li Гармонизируете свои отношения со своими близкими и родными
                    li Научитесь метафизическому обоснованию болезней
                    li Научитесь находить прямую связь между психологическим состоянием клиента и болезнью    
                h4 А так же вы получите:
                ol.else_list
                    li Авторскую технику экологичного МАК исцеления проблемы
                    li Авторскую медитацию «Сила рода»
                    li Авторскую методику по прочтению генограмм
                    li Авторскую медитацию «Исцеление  ДНК успеха»
                    li Авторскую медитацию «Завершение прошлых связей»
                    li Технику «Перерождение»
                    li Авторскую методику «Восстановление ДНК денег»
                    li Методику «Гармонизация близости»
                    li Авторскую медитацию «Восстановление ДНК здоровья»
    #about_vip
        .container
            img#vip_packet(src="img/vip_packet.png", alt="Пакет VIP")
            ul.reach_list
                li Научитесь быстро и эффективно выявлять проблемы клиента и находить максимально эффективные пути решения
                li Узнаете мои личные наработки, которые получены только путем опыта и осознаний. Этого не прочесть нигде
                li Научитесь «рентгеновскому» прочтению карты человека.
                li Научитесь считывать  проблемы по физиогномическим данным человека.
                li Научитесь выявлять причинно-следственную связь проблем
                li Освоите технику «Перерождение», с помощью которой можно перепрограммировать карму человека
                li Научитесь различать травмы текущей жизни человека от травм рода и прошлых воплощений
                li Освоите методику «Антинищета» и начнете привлекать благосостояние в свою жизнь
                li Начнете манифестировать в свою жизнь деньги, любовь, удачу
                li  Узнаете как работает профессионал, чтобы к нему стояла очередь клиентов
    .red_wrapper
        a.button(href="#table_section") Участвовать
