#home-task-feedback
    width: 100%
    background-image url(../img/bg_white.jpg)
    background-repeat: repeat
    background-position: center
    padding-bottom: 50px
    h3
        line-height: 1.2
#fb
    background-color #fff