@media screen and (min-width: 1900px)
	.container
		width: 1400px
	#home_task
	#bonus
		#main_screen .col-md-6
			width: 100%;
			margin-bottom: 20px;
			text-align: center
	#pre
		font-size: 37px
	h1
		font-size: 62px;
		width: 930px;
	.aut_n_date p
	.form_newsletter h4
	.form_newsletter p
	.modal-content .form_newsletter p
		font-size: 35px
	#first_screen_section .container .video_wrapper
		width: 54%
	#janna_main
		bottom: 0
	.email-block input, .email-block input:focus, .phone-block input, .phone-block input:focus
		font-size: 26px
		min-height: 73px
		line-height: 2
		width: 100%
	.form_newsletter button.button
		width: 100%
	.form_newsletter .infront_submit, .form_newsletter .span_phone,
	.modal-content .form_newsletter .infront_submit, .modal-content .form_newsletter .span_phone
		font-size: 25px
	h3
	.reason_container h4
		font-size: 54px
	#reasons .reason .reason_wrapper
		width: 100%
		height 850px
	.reason_container p
		font-size: 24px
	.button
		line-height: 2
		font-size: 34px
		width: 360px
	.day_wrapper .day_container .day_decription h4
	#about_description h4
		font-size: 45px
	.day_wrapper .day_container .day_decription .bullits li
	#about_description ul li
		font-size: 28px
	#author_certs .button
		width: 460px
		&:hover
		&:active
			width: 460px
			line-height: 1.8;
			margin: 45px auto 0;
			font-size: 34px;
			letter-spacing: 0;
	min-height: 63px
	#carousel_certs
		width: 1330px
	.owl-controlls
		width: 1330px
		margin: 0 auto
	.testim_wrapper
		height 750px
	.testim_container h4
	#footer h5
		font-size: 30px
	.testim_container p
		font-size: 26px
	#footer #conditions, #footer p
	#bonus .aut_n_date p, #home_task .aut_n_date p
		font-size: 22px
	.modal-dialog
		width: 800px
	#testimonials .container .owl-controlls
		bottom 410px
@media screen and (max-width: 1199px)
	.contacts .fa
		font-size: 18px
		margin: 0 8px 0 15px
	#first_screen_section .container .video_wrapper
		width: 50%
	#janna_main
		width: 400px
	.aut_n_date p
		font-size: 24px
	.form_newsletter h4
		line-height: 1
		font-size: 24px
	.email-block input, .email-block input:focus, .phone-block input, .phone-block input:focus,.form_newsletter button.button,#carousel_certs,.cert_link img,#text_testims,#video_testims
		width: 100%
	#janna_about img
		top: 80px;
		left: -66px;
	.owl-controlls
	#testimonials .container .owl-controlls
		margin: 10px auto 0
		position: static
		height auto
		width 150px
@media screen and (max-width: 991px)
	#logo
		float: none
		display block
		margin: 0 auto 10px
	.contacts
		float: none
		text-align: center
		padding-right: 0
		a
			display: inline-block
	#pre
		text-align: center
	h1
		text-align: center
		width: 100%
	.aut_n_date
		width: 91%;
		margin: 0 auto;
		p:first-child
			margin-right: 0
		p:last-child
			float: right 
	#first_screen_section .container .video_wrapper
		width: 100%
		margin 30px auto 0
		float: none
	#janna_main
		display: none
	#reasons .reason .reason_wrapper
		margin-bottom: 15px
	.day_wrapper .day_container .day_decription
		margin-left: 15px;
	#janna_about img
		width: 500px
		top: 62px;
	#about_description
		padding-top: 0;
	.testim_wrapper
		height: 650px
@media screen and (max-width: 767px)
	.aut_n_date
		width: 100%
		text-align: center
	.aut_n_date p:first-child
	.aut_n_date p:last-child
		float: none
	.aut_n_date p:last-child
		margin-top: 11px
	#mail_section
		padding: 50px 0
	.form_newsletter
		height auto
		display: block
		width: 80%
		margin: 0 auto
	.form_newsletter h4
		text-align: center
		margin-top: 0
	.form_newsletter button.button
		margin-top: 20px
	.form_newsletter .infront_submit, .form_newsletter .span_phone
		font-size: 18px
	#reasons .reason .reason_wrapper
		width 400px
		height auto
	.reason_container
		padding: 1px 10px 20px
	#janna_about img
		position: static
		display: block
		margin: 20px auto
		width: 400px
	.testim_container
		padding: 40px
	.soc_buttons
		width: 100%
	.form_newsletter p
		margin: 10px 0
	.email-block input, .email-block input:focus, .phone-block input, .phone-block input:focus
		margin-top: 20px
	.owl-controlls .owl-buttons div
		line-height: 55px
@media screen and (max-width: 650px)
	.day_container
		display block
	.day_wrapper .day_container .day_number
		display block
		padding-left: 0
		margin-top: 20px
		img
			display block
			margin: 0 auto
	.bullits
		padding-left: 10px
	.day_wrapper .day_container .day_decription h4
	.day_wrapper:nth-of-type(2) .day_container .day_decription h4, .day_wrapper:nth-of-type(4) .day_container .day_decription h4
		text-align: center
		margin 20px auto
	.day_wrapper .day_container .day_decription .bullits li
	.day_wrapper:nth-of-type(2) .day_container .day_decription .bullits li, .day_wrapper:nth-of-type(4) .day_container .day_decription .bullits li
		padding-left: 17px
		background-position: 0 10px;
	.testim_wrapper
		height: 750px
@media screen and (max-width: 560px)
	.testim_wrapper
		height: 800px
@media screen and (max-width: 480px)
	#header
		padding-bottom: 10px
	#pre
		font-size: 22px
	h1
		font-size: 32px
	.contacts .fa 
		font-size: 14px
		& + span
			font-size: 14px
			line-height: 16px
	.aut_n_date p
	.day_wrapper .day_container .day_decription .bullits li
	#footer h5
	#home_task .aut_n_date p
		font-size: 18px 
	#reasons
	#testimonials
		padding: 30px 0 30px
	h3:after
	#testimonials .container h3::after
		margin: 25px auto
	#reasons .reason .reason_wrapper
		width: 100%
	#mail_section
		padding: 30px 0
	.form_newsletter
		width: 100%
	.form_newsletter h4
		margin-bottom: 0
	.infront_submit
		margin-top: 0
	h3
		font-size: 32px
		line-height: 1
	.button
		margin-top: 20px
	.day_wrapper .day_container .day_decription h4
		font-size: 28px
	.day_wrapper
		padding-bottom: 22px    
	.bullits
	#about_description ul
		padding-left: 0
	#author
		padding-top: 30px
	#about_description h4
		font-size: 26px
		margin: 10px 0
	#janna_about img
		margin-bottom: 0
	#about_description ul li
		font-size: 18px
		line-height: 1.2
		padding-left: 17px;
		background-position: 0 7px;
		margin-bottom: 10px
	#author_certs
		padding: 40px 0
		.button
			width: 100%;
			line-height: 1;
			margin-top: 40px;
			padding: 10px 0;
			min-height: auto;
			&:hover
			&:active
				width: 100%
				line-height: 1;
				margin-top: 40px;
				padding: 10px 0;
				min-height: auto;
	#carousel_certs img
		width: auto
		height 100%
	#video_testims
		margin-bottom: 10px
	.testim_wrapper
		padding: 14px
		height 650px
	.testim_container
		padding: 20px 10px
	.testim_container h4
		margin-bottom: 10px
	.testim_container p
		line-height: 1.2
	#footer
	#home-task-feedback
		padding: 30px 0
	#footer #conditions, #footer p
		font-size: 12px
	#footer p:first-of-type
		margin-top: 0
	.soc_buttons a
		margin: 0 5px 20px
	.day_wrapper
		padding-top: 30px
	.day_wrapper .day_container .day_decription
		margin-left: 0
	#bonus #first_screen_section .container .video_wrapper, #home_task #first_screen_section .container .video_wrapper
		margin-top: 0
	#home-task-feedback
		.container
			padding: 0 11px
@media screen and (max-width: 450px)
	.testim_container p
		font-size: 16px
	#janna_about img
		width: 100%
@media screen and (max-width: 380px)
	.testim_wrapper
		height 700px
	#home-task-feedback h3
		line-height: 1.1;
		font-size: 24px;
@media screen and (max-width: 350px)
	.testim_wrapper
		height 820px
@media screen and (max-width: 310px)
	.testim_wrapper
		height 850px