#reasons
	background-image url(../img/lacy_bg.jpg)
	background-repeat no-repeat
	background-position center
	background-size: cover;
	background-attachment: fixed;
	padding: 50px 0
	.reason
		.reason_wrapper
			border-radius: 10px;
			width: 358px;
			height: 600px;
			padding 10px
			margin: 0 auto 35px
		&:first-child .reason_wrapper
		&:nth-child(4) .reason_wrapper
		&:nth-child(7) .reason_wrapper
		&:nth-of-type(11) .reason_wrapper
			border 1px solid rgb(154, 137, 88);
			background-image: linear-gradient( 0deg, rgb(128,110,63) 15%, rgb(226,218,155) 100%);
			box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15);
		&:nth-child(2) .reason_wrapper
		&:nth-child(5) .reason_wrapper
		&:nth-child(8) .reason_wrapper
			border-radius: 10px;
			background-color: rgb(58, 57, 57);
			box-shadow: 0px 0px 17.67px 1.33px rgba(0, 0, 0, 0.1);
		&:nth-child(3) .reason_wrapper
		&:nth-child(6) .reason_wrapper
		&:nth-child(9) .reason_wrapper
			background-color: rgb(175, 18, 28);
			box-shadow: 0px 0px 17.67px 1.33px rgba(0, 0, 0, 0.1);
		// &:nth-of-type(11) .reason_wrapper
		// 	height 660px
		&:first-of-type
			.reason_container
				.icon
					width: 49px
					background-image url(../img/icons.jpg)
					background-position 0 0
		&:nth-of-type(3)
			.reason_container
				.icon
					width: 57px
					background-image url(../img/icons.jpg)
					background-position -93px 0
		&:nth-of-type(4)
			.reason_container
				.icon
					width: 43px
					background-image url(../img/icons.jpg)
					background-position -150px 0
		&:nth-of-type(5)
			.reason_container
				.icon
					width: 48px
					background-image url(../img/icons.jpg)
					background-position -193px 0
		&:nth-of-type(6)
			.reason_container
				.icon
					width: 42px
					background-image url(../img/icons.jpg)
					background-position -241px 0
		&:nth-of-type(7)
			.reason_container
				.icon
					width: 49px
					background-image url(../img/icons.jpg)
					background-position -283px 0
		&:nth-of-type(8)
			.reason_container
				.icon
					width: 52px
					background-image url(../img/icons.jpg)
					background-position -332px 0
		&:nth-of-type(9)
			.reason_container
				.icon
					width: 57px
					background-image url(../img/icons.jpg)
					background-position -384px 0
		&:nth-of-type(11)
			.reason_container
				.icon
					width: 47px
					background-image url(../img/icons.jpg)
					background-position -441px 0
		&:nth-of-type(2)
			.reason_container
				.icon
					width: 44px
					background-image url(../img/icons.jpg)
					background-position -49px 0
.reason_container
	padding: 1px 10px
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 17.67px 1.33px rgba(0, 0, 0, 0.1);
	height 100%
	text-align: center
	position relative
	h4
		font-size: 45px;
		font-family: "PlayfairDisplayBlack", serif;
		color: rgba(66, 61, 61, 0.2);
		font-weight: bold;
		line-height: 1.2
		text-align: right
		position: absolute
		top: 0
		right 17px
		margin: 0
	.icon
		height 49px
		margin 40px auto 20px
		background-repeat no-repeat
	p
		font-size: 18px;
		font-family: "RobotoRegular", sans-serif;
		color: rgb(13, 14, 13);
		line-height: 1.3
		margin 0
		&:nth-of-type(2)
			color: pr_red
	.divider_middle
		margin 19px auto 14px
		display block