pr_red = #af121c
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.eot');
	src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),url('../fonts/OpenSansBold.woff2') format('woff2'),url('../fonts/OpenSansBold.woff') format('woff'),url('../fonts/OpenSansBold.ttf') format('truetype'),url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
	font-family: 'PlayfairDisplayBlack';
	src: url('../fonts/PlayfairDisplayBlack.eot');
	src: url('../fonts/PlayfairDisplayBlack.eot') format('embedded-opentype'),url('../fonts/PlayfairDisplayBlack.woff2') format('woff2'),url('../fonts/PlayfairDisplayBlack.woff') format('woff'),url('../fonts/PlayfairDisplayBlack.ttf') format('truetype'),url('../fonts/PlayfairDisplayBlack.svg#PlayfairDisplayBlack') format('svg')
}
@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/RobotoBold.eot');
	src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),url('../fonts/RobotoBold.woff2') format('woff2'),url('../fonts/RobotoBold.woff') format('woff'),url('../fonts/RobotoBold.ttf') format('truetype'),url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
	}
@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/RobotoRegular.eot');
	src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
			url('../fonts/RobotoRegular.woff2') format('woff2'),
			url('../fonts/RobotoRegular.woff') format('woff'),
			url('../fonts/RobotoRegular.ttf') format('truetype'),
			url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
			}
@font-face {
	font-family: 'PlayfairDisplayBold';
	src: url('../fonts/PlayfairDisplayBold.eot');
	src: url('../fonts/PlayfairDisplayBold.eot') format('embedded-opentype'),
			url('../fonts/PlayfairDisplayBold.woff2') format('woff2'),
			url('../fonts/PlayfairDisplayBold.woff') format('woff'),
			url('../fonts/PlayfairDisplayBold.ttf') format('truetype'),
			url('../fonts/PlayfairDisplayBold.svg#PlayfairDisplayBold') format('svg');
}

*
	margin: 0
	padding: 0
	outline: 0
a
	color: #fefefe
	&:focus
		outline: 0
h1
	font-size: 52px;
	font-family: "PlayfairDisplayBlack", serif;
	color: rgb(161, 144, 97);
	line-height: 1.05;
	margin: 16px 0 35px
	width: 700px;
	letter-spacing: -0.9px;
h3
	font-size: 44px;
	font-family: "PlayfairDisplayBlack", serif;
	color: rgb(23, 22, 18);
	line-height: 0.75;
	text-align: center
	position relative
	&:after
		content: url('../img/divider_black.png')
		display block
		margin 25px auto 80px
.video_wrapper
	margin 0 auto
	position relative
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #fff
		border-radius 3px
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
.button
	display block
	border: 1px solid rgb(154, 137, 88);
	border-radius: 5px;
	background rgb(226,218,155)
	background-image: linear-gradient( 0deg, rgb(128,110,63) 15%, rgb(226,218,155) 100%);
	box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15), 0 0 5px rgba(#ffffbe, .28) inset
	width: 260px;
	font-size: 24px;
	font-family: "PlayfairDisplayBlack", serif;
	color: rgb(255, 255, 255);
	line-height: 1.375;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
	min-height: 50px
	margin: 40px auto 0
	text-align: center
	&:hover
		background-image: linear-gradient( 180deg, rgb(128,110,63) 15%, rgb(226,218,155) 100%);
		text-decoration: none 
		color rgb(255, 255, 255);
		outline: 0
	&:focus
		background rgb(226,218,155)
		background-image: linear-gradient( 0deg, rgb(128,110,63) 15%, rgb(226,218,155) 100%);
		text-decoration: none 
		color rgb(255, 255, 255);
		outline: 0
@import 'parts/main'
@import 'parts/mail_section'
@import 'parts/rissons'
@import 'course/plan'
@import 'parts/plan'
@import 'parts/author'
@import 'parts/testimonials'
@import 'parts/footer'
@import 'parts/hw_fback'
@import 'parts/medias'